.specific-playlist-details {
  background-color: #181818;
  height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  scrollbar-color: dark;
  scroll-behavior: smooth;

  font-family: 'Assistant';
  color: #fff;
}
@media (min-width: 768px) {
  .specific-playlist-details {
    width: 90%;
    height: 100vh;
    position: relative;
    /* top: 0; */
    right: 0;
    left: 10vw;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}

.playlist-header {
  margin-top: 1vh;
  display: inline-block;
  text-align: center;
  height: 40vh;
}
.playlist-head-img {
  width: 126px;
  margin-bottom: 0;
  border: none;
  border-radius: 5px;
}
.playlist-title {
  /* font-family: 'Inter'; */
  font-size: 23px;
  font-weight: 600;

  letter-spacing: 0.6px;
  margin: 0;
}
.playlist-title-lg {
  letter-spacing: 0.6px;
  margin: 0;
}
.playlist-details-lg {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  justify-content: flex-end;
}
.playlist-head-text {
  /* font-family: 'inter'; */
  font-size: 13px;
  font-weight: 500;

  /* color: #94a3b8; */
  font-style: oblique;
  letter-spacing: 0.7px;
}
.playlist-head-text-sm {
  font-size: 13px;
  font-weight: 600;
  font-style: oblique;

  color: #94a3b8;
  margin: 2px 0;
  letter-spacing: 0.6px;
}
@media (min-width: 768px) {
  .playlist-header {
    width: 100%;
    padding: 3vw;

    display: flex;
    gap: 13px;
    margin-bottom: 0;
  }
  .playlist-head-img {
    width: 150px;
  }
  .playlist-title {
    display: none;
  }
  .playlist-details-lg {
    display: flex;
  }
  .playlist-head-text-sm {
    display: none;
  }
}

.songs-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  margin-top: 0;

  color: #ffffff;
  overflow: auto;
  scrollbar-color: dark;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.song-headings {
  list-style-type: none;
  display: none;
  justify-content: space-between;
}
.line {
  display: none;

  width: 100%;
  height: 0.7px;
  border: none;
  border-top: solid 1px #475569;
}
.song-heading {
  font-family: 'Assistant';
  font-weight: 500;
  letter-spacing: 0.7px;
}
